<html>
    <body>
        <form action="/insert" method="POST" enctype="multipart/form-data">
            	Name: <input name="name" value=""><br>
            	Borough: <input name="borough" value=""><br>
	    	Cuisine: <input name="cuisine" value=""><br>
	    	Score: <input type="number" name="score" min="1" max="10" value="0"><br>

            	<input type="file" name="filetoupload"><br>
            	<input type="submit" value="Insert">  
        </form>
    </body>
</html>
